In [11]:
#Python program to findsquares of all numbers
list(map(lambda x:x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#Python program to convert given list of integers to tuple of strings
tuple(map(lambda x:str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
#Python program using reduce function to compute product of list containing number 1 to 25
from functools import reduce
reduce(lambda x,y:x*y,prd)

15511210043330985984000000

In [13]:
prd=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [21]:
fil=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

Program to filter the list divisible by 2 and 3

In [20]:
list(filter(lambda x:x%2==0 and x%3==0,fil))

[6, 60, 90, 120]

In [22]:
pal=['python', 'php', 'aba', 'radar', 'level']

In [32]:
#Program to find palindormes using filter and lambda
list(filter(lambda p:p[::-1]==p,pal))

['php', 'aba', 'radar', 'level']

In [37]:
#Sort tuples using lambda
cri=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [43]:
sorted_cricket_and_nums = sorted(cri,key=lambda x : x[1])

In [44]:
print(sorted_cricket_and_nums)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]