In [ ]:
#String Variable
name_str="Ram"

In [ ]:
#List Variable
li=[1,2,3,b]

In [ ]:
#Float Variable
fl=2.45

In [ ]:
#Tuple variable
tup=(1,2,3)

In [3]:
var1 = ‘ ‘
print(type(var1))

SyntaxError: invalid character '‘' (U+2018) (3637756185.py, line 1)

In [4]:
var2 = ‘[ DS , ML , Python]’
print(type(var2))

SyntaxError: invalid character '‘' (U+2018) (478397657.py, line 1)

In [5]:
var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
print(type(var3))

SyntaxError: invalid character '‘' (U+2018) (1814995269.py, line 1)

In [6]:
var4 = 1.
print(type(var4))

<class 'float'>

In [7]:
#/ Operator
a=2
b=2
print(a/b)

1.0

In [8]:
# % Operator
a=2
b=2
print(a%b)

0

In [9]:
# // Operator
a=5
b=3
print(a//b)

1

In [10]:
# ** operator
a=2
b=3
print(a**b)

8

In [16]:
#Create list of 10
l10=[5,4,2.5,"Ram",3+4j,False,3,8.5,a,"Sita"]

#for loop to print the element and its datatype
for l in l10:
    print(l)
    print(type(l))

5
<class 'int'>
4
<class 'int'>
2.5
<class 'float'>
Ram
<class 'str'>
(3+4j)
<class 'complex'>
False
<class 'bool'>
3
<class 'int'>
8.5
<class 'float'>
2
<class 'int'>
Sita
<class 'str'>