In [4]:
a=int(input("Enter a number"))
b=int(input("Enter b number"))
while(a>b):
    if a%b==0:
        print(a," is divisible by",b)
        print(a," is divisible by",b,"_",a/b,"times")
        break;
    else:
        print("a is not divisible by b")

Enter a number 9
Enter b number 3

9  is divisible by 3
9  is divisible by 3 _ 3.0 times

In [2]:
li=[1,2,3,4,5,56,7,8,9,10,11,12,13,14,15,16,17,18,191,20,21,22,23,24,25]
for i in range(0,25):
    if li[i]%3==0:
        print(li[i],"divsible by 3")
    else:
        print(li[i],"is not disible by 3")

1 is not disible by 3
2 is not disible by 3
3 divsible by 3
4 is not disible by 3
5 is not disible by 3
56 is not disible by 3
7 is not disible by 3
8 is not disible by 3
9 divsible by 3
10 is not disible by 3
11 is not disible by 3
12 divsible by 3
13 is not disible by 3
14 is not disible by 3
15 divsible by 3
16 is not disible by 3
17 is not disible by 3
18 divsible by 3
191 is not disible by 3
20 is not disible by 3
21 divsible by 3
22 is not disible by 3
23 is not disible by 3
24 divsible by 3
25 is not disible by 3

In [5]:
#Mutable datatypes can be changed and immutable objects cannot be changed
#List is a mutable object and tuple datatype is a immutable object.
#here is the immutable example
tup={1,2,3,4}
tup[1]=8
print(tup[1])

TypeError: 'set' object does not support item assignment

In [8]:
#Mutable datatype exmaple
li1=[2,4,5]
li1[2]=9
print(li1[2])
print(li1)

9
[2, 4, 9]